#title {
    padding-left: 1rem;
}

#post {
    padding-left: 1rem;
}

.comment-form {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.comment {
    padding: 0.5rem 0 0 1rem;
}

.comment-heading {
  font-size: small;
}

.commenter-username {
  text-decoration: none;
}

.commenter-username:visited {
  color: black;
}
.commenter-username:link {
  color: grey;
}
