#title {
    padding-left: 1rem;
}

#post {
    padding-left: 1rem;
}

.editor {
    width: 95%;
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 2.5%;
    background-color: beige;
}

.comment-form {
    padding: 5%;
    width: 90%;
    grid-column: 1;
}

#in {
    resize: none;
    width: 100%;
    height: 100%;
}

#out {
    margin: 5%;
    width: 90%;
    background-color: white;
    grid-column: 2;
    overflow: auto;
}

.comment {
    padding: 0.5rem 0 0 1rem;
}

.comment-heading {
}

.commenter-username {
  text-decoration: none;
}

.commenter-username:visited {
  color: black;
}
.commenter-username:link {
  color: grey;
}
