* {
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 1rem;
}

header {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0px;
  background-color: #ff6600;
  padding: 1rem;
}

header a {
  padding-left: 1rem;
  color: black;
  text-decoration: none;
}

main {
  background-color: #f6f6ef;
  padding: 2rem;
}

main > ol {
  padding-top: 1rem;
}

main > ol > li {
  list-style-position: inside;
  margin-left: -2rem;
}

.post {
  margin-bottom: 0.5rem;
  color: grey;
}
.post a {
  text-decoration: none;
}
.post a:link {
  color: black;
}
.post a:visited {
  color: grey;
}
.post-subtext,
.post-subtext-page {
  font-size: small;
}

.post-subtext {
  margin-left: 1.5rem;
}
